<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Chat App</title>

    <link type="text/css" rel="stylesheet" href="/css/main.css" />
  </head>

  <body>
    {if $presenter->getRequest()->getPresenterName() == 'Auth'}
        {include 'partials/login-navbar.latte'}
    {else}
        {include 'partials/navbar.latte'}
    {/if}

    <div class="container">
        {include content}

        <footer class="row">
          <div class="col-md-12">
            <img src="/css/img/stin_footer.png" alt="shadow">
            <h4>&copy; {date('Y')} by AstrumQ Interactive, s. r. o.</h4>
          </div>
        </footer>
    </div>

    <div id="modal-placeholder"></div>
    <script src="/js/main.js"></script>

    {block scripts}{/block}
  </body>
</html>