{block content}

<div class="row">
    <div class="col-md-12">
        {include '../partials/flash.latte'}
        {include '../partials/form-errors.latte' form => $control['loginForm']}

         <div class="login-form center-block">
            <div class="login-form-header text-center">
                <img src="/css/img/avatar_big.png" alt="avatar">
                <h4>Pro vstup je potřeba se přihlásit nebo <a href="/register">registrovat</a></h4>
            </div>
            <div class="login-form-body">
                {form loginForm}
                    <div class="form-group">
                        {input email class => 'form-control',
                            placeholder => 'Zadejte svůj email'
                        }
                    </div>
                    <div class="form-group">
                        {input password class => 'form-control',
                            placeholder => 'Heslo'
                        }
                    </div>
                    <div class="checkbox">
                        {input remember}
                    </div>
                    <div class="form-group text-center form-actions">
                        <button class="btn btn-company" type="submit">Přihlásit se</button>
                    </div>
                {/form}
            </div>
        </div>
    </div>
</div>

{/block}