{block content}

<div class="row">
    <div class="col-md-12">
        {include '../partials/flash.latte'}
        {include '../partials/form-errors.latte' form => $control['registrationForm']}

        <div class="login-form center-block">
            <div class="login-form-header text-center">
                <img src="/css/img/avatar_big.png" alt="avatar">
                <h4>Už máte účet? <a href="/login">přihlásit</a></h4>
            </div>
            <div class="login-form-body">
                {form registrationForm}
                    <div class="form-group">
                        {input name class => 'form-control',
                            placeholder => 'Zadejte svoje jméno'
                        }
                    </div>
                    <div class="form-group">
                        {input surname class => 'form-control',
                            placeholder => 'Zadejte svoje příjmení'
                        }
                    </div>
                    <div class="form-group">
                        {input email class => 'form-control',
                            placeholder => 'Zadejte svůj email'
                        }
                    </div>
                    <div class="form-group">
                        {input password class => 'form-control',
                            placeholder => 'Heslo'
                        }
                    </div>
                    <div class="form-group">
                        {input password_confirmation class => 'form-control',
                            placeholder => 'Heslo znova pro kontrolu'
                        }
                    </div>
                    <div class="form-group text-center form-actions">
                        <button class="btn btn-company" type="submit">Registrovat</button>
                    </div>
                {/form}
            </div>
        </div>
    </div>
</div>

{/block}