{block content}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        {include '../partials/flash.latte'}

        <ol class="discussion">
            {foreach $messageGroups as $group}
                <li class="{$group['type']}">
                    <div class="avatar-col">
                        {if $group['type'] == 'self'}
                            <img src="/css/img/avatar_boy_big.png" class="avatar">
                        {else}
                            <img src="/css/img/avatar_big.png" class="avatar">
                        {/if}
                    </div>
                    <div class="messages">
                        <h5><strong>{$group['user']}</strong></h5>
                        {foreach $group['messages'] as $message}
                            <p>{$message->message}</p>
                            {if $iterator->last}
                                <br>
                                <span>{$message->created_at->format('j. n. Y | H:i')}</span>
                            {/if}
                            <br>
                        {/foreach}
                    </div>
                </li>
            {/foreach}
        </ol>

        {form messageForm class => 'form-inline message-form text-center'}
            <div class="form-group">
                {input message class => 'form-control input-sm message-textarea',
                    placeholder => 'Vaše odpověď',
                    rows => 1
                }
            </div>
            <button class="btn btn-company" type="submit">ODESLAT</button>
        {/form}
    </div>
</div>

{/block}
