@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$company-color: #e8414a;

body {
    padding-top: 120px;
}

.navbar-brand,
.navbar-nav li a {
    color: $company-color;
    line-height: 100px;
    height: 100px;
    padding-top: 0;
}

.navbar-default .navbar-nav > li > a {
    color: $company-color;
}

.navbar-default .navbar-text {
    color: $company-color;
    line-height: 100px;
    height: 100px;
    padding-top: 0;
    margin: 0;
}

.navbar-brand > img {
    padding-top: 27px;
}

.avatar-nav {
    border: 2px #ffffff solid;
    border-radius: 50%;
}

.login-form {
    width: 340px;
    background: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 100px;
    margin-bottom: 100px !important;
}

.login-form-header {
    position: relative;
    height: 130px;
    width: 100%;
    border-radius: 0.4em 0.4em 0 0;
    background: #949494;
}

.login-form-header h4 {
    color: #ffffff;
    padding-top: 23%;
    font-weight: 500;
}

.login-form-header h4 a{
    color: #ffffff;
    font-weight: 700;
}

.login-form-header img {
    position: absolute;
    top: -50%;
    left: 106px;
}

.login-form-body {
    padding: 40px;
}

.login-form-body input:not([type=checkbox]) {
    width: 100%;
    display: block;
    border-radius: 0.2em;
    background: #ffffff;
}

.checkbox label {
    color: #a8a8a8;
}

.login-form .form-actions {
    margin: 0;
}

.btn-company {
    background: $company-color;
    color: #fff;
}

.discussion {
    list-style-type: none;
    margin: 0 auto;
    min-width: 500px;
    overflow: hidden;
}

li.self {
    display: flex;
    float: right;
    clear: both;
}

li.other {
    display: flex;
    float: left;
    clear: both;
}

.avatar-col {
    padding: 1em;
}

.self .avatar-col {
    order: 2;
}

.avatar {
    border-radius: 50%;
    width: 70px;

}

.other .messages p {
    position: relative;
    min-height: 50px;
    padding: 0.5em;
    background: #f5eee5;
    color: #464647;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.other .messages p:first-of-type:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #f5eee5;
    display: block;
    width: 0;
    z-index: 1;
    margin-top: -10px;
    left: -10px;
    top: 35%;
}

.self .messages p {
    position: relative;
    min-height: 50px;
    padding: 0.5em;
    background: #e8414a;
    color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.self .messages p:first-of-type:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    border-color: transparent #e8414a;
    display: block;
    width: 0;
    z-index: 1;
    margin-top: -10px;
    left: 100%;
    top: 60%;
}

.messages h5 {
    color: #870007;
}

.self h5 {
    text-align: right;
}

.self span {
    float: right;
}

.messages span {
    color: #848484;
}

.other h5 {
    text-align: left;
}

.message-form {
    background: #f2f2f2;
    padding: 1em;
    border-radius: 0.5em;
    clear: both;
    margin-top: 3em;
}

.form-inline .form-control {
    width: 40em;
}

.messages p {
    display: inline-block;
    text-align: justify;
}

.self .messages {
    text-align: right;
}

footer h4 {
    color: #a8a8a8;
    font-size: 1em;
}

footer div {
    text-align: center;
}

footer {
    margin-top: 1em;
    height: 5em;
}

footer img {
    width: 100%;
}