<div n:foreach="$flashes as $flash" n:class="alert, $flash->type, alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>{$flash->message}</strong>
</div>