<div n:if="$form->hasErrors()" class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <ul>
        <li n:foreach="$form->errors as $error">{$error}</li>
    </ul>
</div>