<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container text-center">
      <a class="navbar-brand" href="/" style="display: inline-block; width: 190px; margin: 0 auto; float: none">
        <img src="/css/img/logo_astrumq.png" alt="brand">
      </a>
  </div>
</nav>