<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img src="/css/img/logo_astrumq.png" alt="brand">
      </a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <p class="nav navbar-text">Řazení:</p>
        {foreach ['created_at' => 'data', 'name' => 'jména'] as $field => $fieldDisplayName}
          <li>
            <a href="/chat?orderBy={$field}">
              {if $presenter->getRequest()->getParameter('orderBy') == $field}
                <strong>podle {$fieldDisplayName}</strong>
              {elseif $presenter->getRequest()->getParameter('orderBy') == null && $field == 'created_at'}
                <strong>podle {$fieldDisplayName}</strong>
              {else}
                podle {$fieldDisplayName}
              {/if}
            </a>
          </li>
          {if ! $iterator->last}<p class="nav navbar-text">|</p>{/if}
        {/foreach}
        <li>
          <a href="javascript:void(0)" class="load-profile" data-url="/get-profile/{$this->user->getIdentity()->id}">
            <img src="/css/img/avatar_boy.png" alt="avatar" class="avatar-nav">
          </a>
        </li>
        <li>
          <a href="javascript:void(0)" class="load-profile" data-url="/get-profile/{$this->user->getIdentity()->id}">
            {$this->user->getIdentity()->email}
          </a>
        </li>
        <li><a href="/logout"><strong><span class="glyphicon glyphicon-off" aria-hidden="true"></span></strong></a></li>
      </ul>

    </div><!--/.nav-collapse -->
  </div>
</nav>